$primary-color: rgb(218, 170, 14);
$secondary-color: rgb(127, 236, 55);
$text-color: rgb(49, 49, 48);
$bg-color: rgb(212, 213, 216);
$button-text: rgb(255, 255, 255);
$footer-bg: rgb(218, 170, 14);
$wrapper-bg: rgb(255, 255, 255);

/* Font Variables */
$primary-font: Arial, Helvetica, sans-serif;
$heading-font: 'Sacramento', cursive;